# Rules - Accession Date

In [44]:
import glob
import pandas as pd

cur_objects_df = pd.read_hdf('/home/richard/Git/bbk-mqaf/data/latest/rules.h5')

In [45]:
cur_objects_df

,[accessionYear,productionDates,completeness:TOTAL,existence:accessionYear,existence:productionDates,cardinality:accessionYear,cardinality:productionDates,accessionYear:and:accessionYear:minInclusive:accessionYear:maxInclusive:3,accessionYear:and:accessionYear:minInclusive:accessionYear:maxInclusive:4,productionDates:dateLatest:productionDateRule,ruleCatalog:score]
0,2012.0,1954-12-31,1.0,1,1,1,1,1,1,1.0,0
1,2012.0,1821-03-01,1.0,1,1,1,1,1,1,1.0,0
2,2012.0,1821-06-01,1.0,1,1,1,1,1,1,1.0,0
3,2012.0,1950-12-31,1.0,1,1,1,1,1,1,1.0,0
4,2012.0,1822-08-01,1.0,1,1,1,1,1,1,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
8759,1990.0,1910-12-31,1.0,1,1,1,1,1,1,1.0,0
8760,1990.0,1910-12-31,1.0,1,1,1,1,1,1,1.0,0
8761,1990.0,1910-12-31,1.0,1,1,1,1,1,1,1.0,0
8762,1990.0,1910-12-31,1.0,1,1,1,1,1,1,1.0,0
8763,1990.0,1910-12-31,1.0,1,1,1,1,1,1,1.0,0

In [14]:
cur_objects_df[" accessionYear:and:accessionYear:minInclusive:accessionYear:maxInclusive:2"].value_counts()

1    1018129
0     220304
Name:  accessionYear:and:accessionYear:minInclusive:accessionYear:maxInclusive:2, dtype: int64

In [23]:
invalid = cur_objects_df.loc[cur_objects_df[" accessionYear:and:accessionYear:minInclusive:accessionYear:maxInclusive:2"] == 0]
invalid["[accessionYear"].value_counts()

1853.0    688
1852.0    406
1851.0    257
Name: [accessionYear, dtype: int64

In [43]:
cur_objects_df[" productionDates:dateLatest:productionDateRule"].value_counts()

 1.0    807434
-1.0     15439
Name:  productionDates:dateLatest:productionDateRule, dtype: int64